<!-- FOOTER -->
<!-- Links should start from /root because the final compiled page is at an arbitrary location. -->

<div class="socialLinksDiv">
<a href="mailto:33a1eb@williams.blue" class="iconSprite iconSprite-email u-plainLink">Email</a>
<a href="https://github.com/michaeljwilliams" class="iconSprite iconSprite-github u-plainLink">Code</a>
<a href="https://open.spotify.com/user/mwilliaams" class="iconSprite iconSprite-spotify u-plainLink">I wanna rock!</a>
</div>
<small>Michael Williams</small>